header #entrar {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

#home {
    background: #ffc107;
    color: #fff;
}

#home form {
    margin-top: 2rem;
}

h1.weigth-500 {
    font-weight: 500;
}

.caixa {
    padding: 60px 0;
}

.caixa h1 {
    font-size: 2rem;
}

.caixa #finans {
    color: #ffc107;
    font-weight: 500;
}

.caixa #finans:hover {
    text-decoration: underline;
}

#footer {
    padding: 15px 0;
    color: #fff;
    background: #ffc107;
}

#footer a {
    font-size: 20px;
    border-radius: 20px;
}

#footer a#yt {
    border-radius: 20px;
}

 #footer p {
    margin: 0;
 }

@media (min-width:576px) and (max-width: 768px) {
    #saiba img {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    #home .ajustes-h1 {
        font-size: 2.5rem;
        padding-top: 0.5rem;
    }

    #home form {
       margin-top: 0;
    }

    #saiba img {
        margin-top: 2rem;
    }

    #juros {
        padding-top: 2rem;
    }
}