#home {
    background: #ffc107;
    color: #fff;
}

h1.weigth-500 {
    font-weight: 500;
}

.caixa {
    padding: 60px 0;
}

.caixa h1 {
    font-size: 2rem;
}

.caixa #finans {
    color: #ffc107;
    font-weight: 500;
}

.caixa #finans:hover {
    text-decoration: underline;
}

#footer {
    padding: 15px 0;
    color: #fff;
    background: #ffc107;
}

#footer a {
    font-size: 20px;
    border-radius: 20px;
}

#footer a#yt {
    border-radius: 20px;
}

 #footer p {
    margin: 0;
 }

@media (max-width: 768px) {
    #saiba img {
        margin-top: 2rem;
    }
}